#lema {
    color: blueviolet;
    background-color: cornflowerblue;
    ;
}

#historia {
    border: 1px solid #000000;
    overflow: hidden;
}

#presentacion1 {
    float: left;
    width: 49%;
    border-right: 1px black solid;
}

#finPresentacion,
#final {
    clear: both;
    border-top: 3px black;
}

h2 {
    color: aquamarine;
    background-color: darkblue;
}

#codigoJava {
    border: 2px darkgoldenrod dashed;
    text-align: center;
}

.resaltarCodigo {
    color: crimson;
    font-weight: bold;
}

#imagen1 {
    float: left;
    width: 49%;
}

#imagen2 {
    text-align: right;
    float: right;
    width: 49%;
}

.nombresempresas {
    color: rgb(206, 167, 11);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}